/*PARTIE HEADER*/

/*LE BLOC NOIR*/
.d-block1
{
  background-color: black;
  height:40px;
}

/*LA NAV AVEC VENTES FLASH ACTIVE*/

.vflash
{
  background-color: #e23655 !important;
}

.elementnav
{
  color: black;
  font-size: 13px;
}

/*PARTIE BODY*/

body
{
  background-color: #ffffff;
}


header {
  background-color: #ffffff;
}


/*1a {
background-image: url("images/1a.jpg");
width: 100%;
height: auto;
position: fixed;
}*/

/*PARTIE CATEGORIES LES PLUS RECHERCHER*/
.btn
{
  font-size: 10px;
}


/* 1ERE PARTIE FOOTER & LES ICONES RESEAUX SOCIAUX*/

/*LES ICONES TWITTER ETC*/

.iconfoot
{
  padding: 15px 15px 15px 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #e2eeee;
  border-radius: 30px;
}

/*LES PARAGRAPHES SOUS LES ICONES DE CONDITIONS*/
.p1
{
  font-size: 13px;
}

.p2
{
  margin: -20px 0 0 0;
  font-size: 13px;
}
